@{
    Layout = null;
}

<div class="form-row">
    <div class="form-group col-12" id="login-row">
        <label for="inputLogin">Логин</label>
        <input type="text" class="form-control"
               id="inputLogin" placeholder="Логин"
               name="login" />
        <div class="invalid-feedback">

        </div>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-12" id="password-row">
        <label for="inputPassword">Пароль</label>
        <input type="text" class="form-control"
               id="input-password" placeholder="Пароль"
               name="password" />
        <div class="invalid-feedback">
        </div>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-12" id="configrm-password-row">
        <label for="inputPassword">Повторите пароль</label>
        <input type="text" class="form-control"
               id="inputPasswordConfirm" placeholder="Пароль"
               name="second-password" />
        <div class="invalid-feedback">
            Пожалуйста повторите Ваш пароль.
        </div>
    </div>
</div>
