@using Epam.FinalTask.BLL.Interfaces;
@using Epam.FinalTask.Ioc;
@using Epam.FinalTask.Entities;
@{
    if (User.IsInRole("admin"))
    {
        Layout = "~/Layouts/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Layouts/_Layout.cshtml";
    }

    if (IsPost)
    {
        Response.Redirect("~/error");
        return;
    }

    if (!int.TryParse(Request.QueryString["id"], out var channelID))
    {
        Response.Redirect("~/error");
        return;
    }
    IChannelBL channelBL = DependencyResolver.ChannelBL;
    Channel channel;
    try
    {
        channel = channelBL.GetById(channelID);
    }
    catch (ArgumentException)
    {
        Response.Redirect("~/error");
        return;
    }
}

<section id="message-wall" class="col-lg-7 col-sm-5 col-md-5 bg-white mt-2 h-25 rounded">
    <input type="hidden" value="@channel.ID" id="channel-id" />
    <div class="my-2">
        <h4> Сообщения </h4>
    </div>
</section>

@if (!User.IsInRole("admin"))
{

    <div class="col-lg-2  col-sm-3 ml-2 bg-white mt-2 pt-2 h-25 rounded">
        <div class="text-center">
            <h5> Написать сообщение </h5>
        </div>
        <div class="form-row" id="message-input-area">
            <div class="form-group">
                <textarea class="w-100" rows="10" id="message-field"></textarea>
                <div class="invalid-feedback"></div>
            </div>

            <button class="btn btn-primary my-2" id="send-btn"> Отправить </button>
        </div>
    </div>
    <script src="~/Scripts/ProjectScripts/Validation.js"></script>
    <script src="~/Scripts/ProjectScripts/GetMessages.js"></script>
    <script src="~/Scripts/ProjectScripts/SendMessage.js"></script>
}
else
{
    <script src="~/Scripts/ProjectScripts/GetMessages.js"></script>
}


