@using Epam.FinalTask.Entities;
@using Epam.FinalTask.WebPL.Helpers;
@{
    Layout = "~/Layouts/_SimpleLayout.cshtml";
    string errorMessage = null;
}

@if (IsPost)
{
    string login = Request.Form["login"];
    string password = Request.Form["password"];


    Tuple<string, Account> account = UserRequests.CreateAccount(login, password);
    if (account.Item1 != null)
    {
        errorMessage = account.Item1;
    }

    Tuple<string, UserDTO> user = UserRequests.CreateUser(Request);
    if (user.Item1 != null)
    {
        errorMessage = user.Item1;
    }
    if (errorMessage == null)
    {
        UserRequests.CreateAccountWithUser(account.Item2, user.Item2);

        LoginRequests.SignIn(login, password);
        Response.Redirect("~");
    }

}

<div class="row justify-content-center">
    <div class="col-lg-4 col-md-5 col-sm-8 mt-4 bg-white rounded">
        <!-- Form -->
        <form method="post" novalidate="" enctype="multipart/form-data" id="main-form">
            <p class="h4 mb-4 mt-4 text-center">Создать аккаунт</p>

            <div class="tab">
                @RenderPage("~/Shared/_AccountForm.cshtml")
            </div>

            <div class="tab">
                @RenderPage("~/Shared/_UserForm.cshtml")
            </div>
            @if (errorMessage != null)
            {
                <div class="alert alert-danger">
                    @errorMessage
                </div>

            }

            <div class="form-row">
                <button id="back-btn" class="btn btn-primary mb-4 mr-2" style="display:none;"> Назад </button>
                <button id="action-btn" class="btn btn-primary mb-4"> Далее </button>
            </div>

        </form>
    </div>
</div>

<script src="~/Scripts/ProjectScripts/AttachImage.js"></script>
<script src="~/Scripts/ProjectScripts/Validation.js"></script>
<script src="~/Scripts/ProjectScripts/ScrollUserForm.js"></script>