@using Epam.FinalTask.Entities;
@using Epam.FinalTask.WebPL.Helpers;
@{
    Layout = "~/Layouts/_SimpleLayout.cshtml";
    string errorMessage = null;
}

@if (IsPost)
{
    string login = Request.Form["login"];
    string password = Request.Form["password"];

    // check error string
    Tuple<string, Account> account = UserRequests.CreateAccount(login, password);
    Tuple<string, UserDTO> user = UserRequests.CreateUser(Request);

    UserRequests.CreateAccountWithUser(account.Item2, user.Item2);

    LoginRequests.SignIn(login, password);
    Response.Redirect("~");
}

<div class="row justify-content-center">
    <div class="col-lg-4 col-md-5 col-sm-8 mt-4 bg-white rounded">
        <!-- Form -->
        <form method="post" novalidate="" enctype="multipart/form-data" id="main-form">
            <p class="h4 mb-4 mt-4 text-center">Создать аккаунт</p>

            <div class="tab">
                <div class="form-row">
                    <div class="form-group col-12" id="login-row">
                        <label for="inputLogin">Логин</label>
                        <input type="text" class="form-control"
                               id="inputLogin" placeholder="Логин"
                               name="login"/>
                        <div class="invalid-feedback">
                            
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12" id="password-row">
                        <label for="inputPassword">Пароль</label>
                        <input type="text" class="form-control"
                               id="input-password" placeholder="Пароль"
                               name="password" />
                        <div class="invalid-feedback">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12" id="configrm-password-row">
                        <label for="inputPassword">Повторите пароль</label>
                        <input type="text" class="form-control"
                               id="inputPasswordConfirm" placeholder="Пароль"
                               name="second-password" />
                        <div class="invalid-feedback">
                            Пожалуйста повторите Ваш пароль.
                        </div>
                    </div>
                </div>

            </div>

            <div class="tab">
                <div class="text-center mb-2">
                    <img class="img-thumbnail hidden-image" id="user-image" alt="Фото" />
                </div>

                <div class="form-row">
                    <label class="btn btn-primary">
                        Выберите фото <input type="file" name="Image" id="user-image-input" hidden />
                    </label>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6" id="name-input">
                        <label for="inputName">Имя</label>
                        <input type="text" class="form-control" name="name"
                               id="inputName" placeholder="Имя"  />
                        <div class="invalid-feedback">
                            
                        </div>
                    </div>
                    <div class="form-group col-md-6" id="lastname-input">
                        <label for="inputSurname">Фамилия</label>
                        <input type="text" class="form-control" name="surname"
                               id="inputSurname" placeholder="Фамилия"  />
                        <div class="invalid-feedback">
                            
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12" id="date-row">
                        <label for="inputBirthday">Дата рождения</label>
                        <input type="date" class="form-control"
                               id="inputBirthday"
                               name="birthday"  />
                        <div class="invalid-feedback">
                            
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12" id="city-row">
                        <label for="inputAddress">Город</label>
                        <input type="text" class="form-control"
                               id="inputCity" placeholder="Город"
                               name="city" required />
                        <div class="invalid-feedback">
                            
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12" id="street-row">
                        <label for="inputAddress">Улица</label>
                        <input type="text" class="form-control"
                               id="inputStreet"
                               placeholder="Улица"
                               name="street" required />
                        <div class="invalid-feedback">
                            Пожалуйста введите Вашу улицу.
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6" id="house-row">
                        <label for="inputHouseNumber">Дом</label>
                        <input type="number" class="form-control"
                               id="inputHouse"
                               placeholder="Дом"
                               name="house" required />
                        <div class="invalid-feedback">
                            Пожалуйста введите номер Вашего дома.
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputApartmentNumber">Квартира</label>
                        <input type="text" class="form-control"
                               id="inputApartmentNumber"
                               placeholder="Квартира"
                               name="apartment" />
                    </div>
                </div>
            </div>

            <div class="form-row">
                <button id="back-btn" class="btn btn-primary mb-4 mr-2" style="display:none;"> Назад </button>
                <button id="action-btn" class="btn btn-primary mb-4"> Далее </button>
            </div>
            
        </form>
    </div>
</div>

<script src="~/Scripts/ProjectScripts/AttachImage.js"></script>
<script src="~/Scripts/ProjectScripts/ScrollUserForm.js"></script>