@using Epam.FinalTask.Entities;
@using Epam.FinalTask.BLL.Interfaces;
@using Epam.FinalTask.Ioc;
@using Epam.FinalTask.WebPL.Helpers;
@{
    if (User.IsInRole("admin"))
    {
        Layout = "~/Layouts/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Layouts/_Layout.cshtml";
    }


    if (!int.TryParse(Request.QueryString["id"], out var userID))
    {
        Response.Redirect("~/error");
    }

    int loggedUserId = DependencyResolver.AccountBL.GetUserIDByLogin(User.Identity.Name);
    if (userID != loggedUserId && !User.IsInRole("admin"))
    {
        Response.Redirect("~/error");
    }
    IUserBL userBL = DependencyResolver.UserBL;
    string errorString = null;

    UserDTO user;
    try
    {
        user = userBL.GetById(userID);
    }
    catch (ArgumentException)
    {
        Response.Redirect("~/error");
        return;
    }
}

@if (IsPost)
{
    Tuple<string, UserDTO> updatedUser = UserRequests.CreateUser(Request);
    if (updatedUser.Item1 != null)
    {
        errorString = updatedUser.Item1;
    }
    else
    {
        updatedUser.Item2.ID = userID;
        userBL.Update(updatedUser.Item2);
        Response.Redirect("~");
    }
}

<section class="col-lg-6 bg-white mt-2 h-25 rounded">
    <form method="post" novalidate="" enctype="multipart/form-data" id="main-form">
        @RenderPage("~/Shared/_UserForm.cshtml", new { user = user } )

        @if (errorString != null)
        {
            <div class="alert alert-danger">
                @errorString
            </div>
        }

        <button class="btn btn-primary mb-2" id="change-btn"> Изменить </button>
    </form>
</section>
<script src="~/Scripts/ProjectScripts/AttachImage.js"></script>
<script src="~/Scripts/ProjectScripts/Validation.js"></script>
<script src="~/Scripts/ProjectScripts/ChangeClick.js"></script>