@using Epam.FinalTask.BLL.Interfaces;
@using Epam.FinalTask.Ioc;
@using Epam.FinalTask.Entities;
@using Epam.FinalTask.WebPL.Helpers;
@{

    if (User.IsInRole("admin"))
    {
        Layout = "~/Layouts/_AdminLayout.cshtml";
    }
    else 
    { 
        Layout = "~/Layouts/_Layout.cshtml";
    }
    
    if (!int.TryParse(Request["id"], out var userID)) {
        Response.Redirect("~/error");
        return;
    }

    IAccountBL accountBL = DependencyResolver.AccountBL;
    int authorizedUser = accountBL.GetUserIDByLogin(User.Identity.Name);
    if (userID != authorizedUser && !User.IsInRole("admin"))
    {
        Response.Redirect("~");
    }

    IChannelBL channelBL = DependencyResolver.ChannelBL;
    IEnumerable<Channel> channels = channelBL.GetUserChannels(userID);

    List<Tuple<Channel, IEnumerable<UserDTO>>> channelsWithUsers = new List<Tuple<Channel, IEnumerable<UserDTO>>>();
    foreach (var channel in channels)
    {
        IEnumerable<UserDTO> channelUsers = channelBL.GetChannelUsers(channel.ID).Where(user => user.ID != authorizedUser);
        channelsWithUsers.Add(new Tuple<Channel, IEnumerable<UserDTO>>(channel, channelUsers));
    }
}

<section class="col-sm-8 col-md-8 col-lg-8 mt-2 bg-white h-25 rounded">
    <div class="my-2">
        <h4> Сообщения </h4>
    </div>

    @if (channelsWithUsers.Count() == 0) { 
        <div>
            Здесь пока нет сообщений.
        </div>
    }

    @foreach (var channel in channelsWithUsers)
    {
        <div class="my-3 channel">
            <input type="hidden" value="@channel.Item1.ID" />
            <h5> @channel.Item1.Title </h5>
            
            <div> Переписка с @string.Join(", ", channel.Item2.Select(user => $"{user.Name} {user.Surname}")) </div>
        </div>
    }
</section>
<script src="~/Scripts/ProjectScripts/GoToMessages.js"></script>